.metadata/
pagodiario-api/.classpath
pagodiario-api/.project
pagodiario-api/.settings/org.eclipse.jdt.core.prefs
pagodiario-api/.settings/org.eclipse.wst.common.component
pagodiario-api/.settings/org.eclipse.wst.common.project.facet.core.xml
pagodiario-api/target
pagodiario-domain/.classpath
pagodiario-domain/.project
pagodiario-domain/.settings/org.eclipse.jdt.core.prefs
pagodiario-domain/.settings/org.eclipse.wst.common.component
pagodiario-domain/.settings/org.eclipse.wst.common.project.facet.core.xml
pagodiario-domain/target
pagodiario-domain/database/~test.trace.db
Servers/
target/
pagodiario-front/.classpath
pagodiario-front/.project
pagodiario-front/.settings/org.eclipse.jdt.core.prefs
pagodiario-front/.settings/org.eclipse.wst.common.component
pagodiario-front/.settings/org.eclipse.core.resources.prefs
pagodiario-front/.settings/org.eclipse.jdt.ui.prefs
pagodiario-front/.settings/org.eclipse.jst.jsp.core.prefs
pagodiario-front/.settings/org.eclipse.m2e.core.prefs
pagodiario-front/.settings/org.eclipse.wst.validation.prefs
pagodiario-front/database/~test.trace.db
release.properties
pagodiario-front/bin/
