<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default -->
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</pattern>
		</encoder>
	</appender>
	<!-- Insert the current time formatted as "yyyyMMdd'T'HHmmss" under the 
		key "bySecond" into the logger context. This value will be available to all 
		subsequent configuration elements. -->
	<timestamp key="byDay" datePattern="yyyyMMdd" />

	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<!-- use the previously created timestamp to create a uniquely named log 
			file -->
		<file>logSgpd-${byDay}.log</file>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</pattern>
		</encoder>
	</appender>
	<logger name="com.icetea.manager.pagodiario" level="DEBUG"
		additivity="false">
		<appender-ref ref="FILE" />
	</logger>

	<!-- Strictly speaking, the level attribute is not necessary since -->
	<!-- the level of the root level is set to DEBUG by default. -->
	<root level="INFO">
		<appender-ref ref="FILE" />
	</root>
</configuration>